div#players
    table#table
        tr
            th#head Joueurs
            th 
        tr#add_row
            td
                input#new_player_input
            td
                button#new_player_button +
            
    