div#config
    h1#title Commander Fest - Préparation
    p#subtitle Liste des joueurs
    include config/_players.pug
    button#start_button Tout le monde est là !

    script 
        include scripts/config.js