#landing
    img#gs_full_logo(src="https://www2.gamespirit.fr/img/1608989485.svg", alt="gs_full_logo") 
    button#new_tournament_button.reverse_button(hx-get="/config", hx-target="#content") Créer un nouveau tournois
    #spacer