html 
    head 
        title GS | CMDR FEST
        link(rel="shortcut icon", href="https://www2.gamespirit.fr/img/favicon.ico?1714751191=", type="image/x-icon")
        link(rel="stylesheet", href="styles.css")
        script(src="https://unpkg.com/htmx.org@2.0.2") 
    body
        #content
            include _landing.pug

