/* VARIABLES */
:root {
    --primary: #14a7d0;
    --background: rgb(239 246 255);
    font-family: sans-serif;
    --semibold: 600;
    --bold: 700;
}

/* COMMON */
button {
    background-color: var(--primary);
    color: white;
    font-weight: var(--semibold);
    text-align: center;
    padding: .5rem;
    border-radius: .25rem;
    background-image: none;
    margin: 0;
    border: 0;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.07);
}

button:disabled {
    background-color: rgba(0, 0, 0, 0.1);
}

button:hover:enabled {
    background-color: white;
    color: var(--primary);
}

.reverse_button {
    background-color: white;
    color: var(--primary);
}

.reverse_button:disabled {
    background-color: rgba(0, 0, 0, 0.1);
}

.reverse_button:hover:enabled {
    background-color: white;
    color: var(--primary);
}


/* PRINCIPAL */
body,
html {
    height: 100%;
    margin: 0;
    background-color: var(--background);
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* LANDING */
#landing {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

#landing img {
    max-width: 25rem;
}

/* #landing button {
    background-color: white;
    color: var(--primary);
}

#landing button:hover {
    background-color: lightgray;
    color: white;
} */

/* CONFIG */
#config {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 2.5rem;
}

#config #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#config #tips {
    font-size: small;
    color: darkgray;
    font-style: italic;
}

#config #list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;
}

/* HEADER */
#header {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    max-height: 2rem;
    padding: 1rem;
    color: white;
}

/* #header #back_button {
    background-color: white;
    color: var(--primary);
} */

#header #separator {
    height: 3rem;
    background-color: white;
    width: 0.2rem;
}

#header #gs_full_logo {
    max-height: 3rem;
}

#content {
    flex: 1;
}